.title_waku {
  border: 2px solid blue;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 100px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(1, 1, 1, 1);
}
.todouhuken_list {
  border: 2px solid blue;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 100px;  
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  color: black;
  margin: 0;
}