.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1500px;
  padding: 20px;
}

@media screen and (max-width: 752px) {
  .content {
    max-width: 752px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    max-width: 400px;
  }
}